.hidden {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

a {
  display: block;
}

#wrap {
  width: 94%;
  height: auto;
  margin: 0 auto;
  background-color: white;
}

.popUp {
  width: 96%;
  height: auto;
  background-color: silver;
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  will-change: auto;
}

.popUp > p {
  display: block;
  width: auto;
  height: auto;
  color: white;
}

.close {
  width: 10px;
  height: 16px;
  padding: 4px;
  background-color: slategray;
  color: white;
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
}

/*  */

#header {
  width: 100%;
  height: 70px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: lightsalmon;
  padding: 10px 40px;
  box-sizing: border-box;
}

#header > h1 {
  float: left;
  width: auto;
  height: auto;
  margin-top: 6px;
}

#header > h1 > a {
  width: auto;
  height: auto;
  font-size: 32px;
}

.header_nav {
  float: right;
  width: auto;
  height: 100%;
}

.header_nav_list {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.header_nav_list > li {
  width: auto;
  height: auto;
}

.header_nav_list > li:not(:first-child) {
  margin-left: 40px;
}

.header_nav_list > li > a {
  width: auto;
  height: auto;
  font-size: 24px;
}

/* header */

#main {
  width: 100%;
  height: auto;
}

#article_ad {
  width: 100%;
  height: 1600px;
  background-color: lightslategray;
  padding: 40px;
  box-sizing: border-box;
}

#article_ad > h2 {
  width: auto;
  height: auto;
  font-size: 24px;
  color: white;
}

#article_f {
  width: 100%;
  height: 900px;
  background-color: lightgrey;
}

.tab_content1 {
  width: 100%;
  height: 100%;
  margin: 100px auto 0 auto;
}

.tab_content1 > dl {
  width: 90%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.tab_content1 > dl > dt {
  float: left;
  width: 13.88889vw;
  height: 40px;
  line-height:40px; 
  text-transform:uppercase; 
  text-align: center;
  background-color: lightslategrey;
  font-weight: bold;
  color: white;
}

.tab_content1 > dl > dt:hover {
  background-color: slategrey;
}

.tab_content1 > dl > dt:not(:first-child){
  margin-left: 4px;
}

.tab_content1 > dl > dt.clicked {
  background-color: gray;
}

.tab_content1 > dl > dt > a {
  width: auto;
  height: auto;
}

.tab_content1 > dl > dd { 
  width: 100%; 
  height: 60%;
  display: none;
  position: absolute; 
  top: 80px; 
  left: 50%;
  transform: translate(-50%, 0);
  padding: 50px;
  box-sizing: border-box;
  background-color: lightsteelblue;
  word-break: keep-all;
} 

.tab_content1 > dl > dd:first-of-type {
  display: block;
}

/* section 1 */


#article_s {
  width: 100%;
  height: 1000px;
  background-color: rgb(194, 194, 194);
}

.tab_title_list_wrap {
  width: 60%;
  height: 40px;
  margin: 80px auto 0 auto;
}

.tab_title_list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tab_title_list > li {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  background-color: seagreen;
}

.tab_title_list > li:not(:last-child) {
  border-right: 1px solid white;
}

.tab_title_list > li > a {
  width: 100%;
  height: 100%;

  cursor: pointer;
}

.tab_title_list > li.active {
  background-color: sandybrown;
}


.tab_content2 {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  box-sizing: border-box;
}

.tab_con2_box {
  display: none;
  width: 80%;
  height: 80%;
  background-color: white;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
}

.tab_con2_box:first-child {
  display: block;
}

.tab_con2_box > h3 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* footer */

#footer {
  width: 100%;
  height: 400px;
  padding: 30px 40px;
  box-sizing: border-box;
  color: white;
  background-color: slategrey;
}

/* topBtn */

.topBtn {
  width: 40px;
  height: 40px;
  background-color: darksalmon;
  border-radius: 50%;
  position: fixed;
  right: 4%;
  bottom: 6%;
}

.topBtn:hover {
  background-color: teal;
  transition: all 400ms linear;
}