ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
}

#miniProduct {
  width: 600px;
  height: 500px;
  margin: auto;
  box-sizing: border-box;

  position: relative;
}

.product {
  width: 600px;
  height: 80%;
}

.product_list {
  height: 100%;
  background-color: lightgreen;
}

.product_list_item {
  float: left;
  width: 600px;
  /* %로 할때 ul width 나누기 li 개수로 */
  height: 100%;
  background-color: lightblue;
}

.product_list_item:nth-child(2) {
  background-color: khaki;
}

.product_list_item:last-child {
  background-color: lightgrey;
}

.indicator {
  width: auto;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.indicator_list {
  width: 100%;
  height: 100%;
}

.indicator_list_item {
  float: left;

  width: auto;
  height: 100%;
  margin-right: 50px;
}

.indicator_list_item:last-child {
  margin-right: 0;
}

.indicator_list > li > a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: salmon;
  border-radius: 50%;
}

.indicator_list > li.clicked > a {
  background-color: lightgreen;
}
