#wrap {
  width: 60%;
  height: auto;
  margin: 0 auto;
  padding-top: 80px;
}

h1 > a {
  width: auto;
  height: auto;
  color: black;
  font-size: 28px;
}

.part {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 30px;
  border: 2px solid #333;
  background-color: white;
}

.part > ul {
  width: 100%;
  height: auto;
}

.part > ul > li {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px;
  border-bottom: dotted #333;
  display: flex;
}

.part .num {
  width: 2rem; 
  height:100%; 
  border-right:0.1rem 
  solid #fff; 
  margin-right:0.5rem;
}

.part .image { 
  width: 10%; 
  height:100%; 
  margin-right:1rem; 
  background-repeat: no-repeat; 
  background-position: 50% 50%; 
  background-size:contain; 
  background-color: beige;
}

.part dl { 
  width: 100%; 
  height: 100%; 
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.part dt { 
  font-size:1.2rem; 
  font-weight: bold; 
  color:#171717; 
  margin-bottom:0.1rem; 
  margin: 0 40px;
}

.part dd { 
  font-size: 1rem; 
  color:#777;
}

.more_btn { 
  margin-top:2rem; 
  width: 100%; 
  height:3rem; 
  text-align: center; 
}

.more_btn a { 
  width: 7rem; 
  height:100%; 
  background-color: #05a; 
  color:#fff; 
  font-weight: bold; 
  border-radius:0.2rem;
  padding: 4px 10px;
}

